- provide(:title, '')
.row
  %aside.span4
    %section
      = link_to "New Classified", new_classified_path, class: "btn btn-large btn-primary"
      %br      
      %br
      %p.other_content Categories:
      - raw @categories.map(&:name).map { |t| link_to t, category_path(t) }.each do |i|
        %li= i          
  .span8
    %ul.classifieds
      = render @classifieds
      = will_paginate @classifieds   








